body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

#gameContainer {
    position: relative;
    width: 300px; /* Adjust based on your BLOCK_SIZE and COLS */
    margin: 0 auto; /* This centers the game container horizontally */
}

canvas {
    border: 3px solid;
    border-image: linear-gradient(to bottom right, #999, #333) 1;
}